
.header-section {
    -fx-background-color: #059d9d;
    -fx-pref-height: 90px;
}

.header-label {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 20px;
    -fx-padding: 0 0 0 20;
}

.content-section {

    -fx-min-width: 200px;
    -fx-max-width: 300px;
    -fx-spacing: 15px;
    -fx-padding: 15px;

}

.content-header {
    -fx-font-size: 18px;
    -fx-text-alignment: center;
}
.register-btn {
    -fx-text-fill: #f68c97;
    -fx-font-size: 14px;
    -fx-underline: true;
}

.register-btn:pressed {
    -fx-text-fill: #fa6b79;
}

.field {
    border-radius: 6px;
    -fx-font-size: 14;
    -fx-padding: 10px;
}

.login-successful {

}

.login-unsuccessful {

}


.login-btn {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #059d9d;
    border-radius: 4px;
    -fx-font-size: 14px;
    -fx-pref-width: 300px;
}

.login-btn:hover {
    -fx-background-color: #0bbcbc;
}

.exit-btn {
    -fx-background-color: #059d9d;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20
}


.exit-btn:hover {
    -fx-background-color: #0bbcbc;
}

.footer-section {
    -fx-pref-height: 60px;
    -fx-padding: 10px;
}
