@font-face {
    src: url('font/Baloo2-Regular.ttf');
}

.root {
    -fx-font-family: "Baloo 2"; /* font */
}

.navigation {
    -fx-background-color: #5bc0de;
    /*-fx-background-color: #059d9d;*/
    -fx-pref-width: 120;
    -fx-max-width: 150;
    -fx-spacing: 5;
}

.nav-btn {
    -fx-background-color: #5bc0de;
    /*-fx-background-color: #059d9d;*/
    -fx-text-fill: #FFFFFF;
    -fx-padding: 5;
    -fx-pref-height: 50;
    -fx-alignment: CENTER-LEFT;
    -fx-spacing: 5;
}

.nav-btn .label {
    -fx-text-fill: #FFFFFF;
}

.nav-btn:hover {
    -fx-background-color: #73d3f1;
    /*-fx-background-color: #0bbcbc;*/
}

.meal-diary-title {
    -fx-font-size: 30;
}

.track-details {

    /*-fx-border-color: red;*/
    -fx-padding: 10;
    -fx-spacing: 5;
}

.track-details .choice-box {

}

.meal-type-lbl {
    -fx-padding: 0 5 0 0;
}

.browse-lbl {
    -fx-padding: 0 5 0 0;
}

.other-lbl {
    -fx-padding: 0 5 0 0;
}

.quantity-lbl {
    -fx-padding: 0 5 0 0;
}

.calories-lbl {
    -fx-padding: 0 5 0 0;
}

/*.meal-item-input .label{*/
/*    -fx-padding: 0 5 0 0;*/
/*}*/

.add-item-btn {
    -fx-background-color: #5bc0de;
    -fx-text-fill: #FFFFFF;
}

.add-item-btn:hover {
    -fx-background-color: #73d3f1;
}

.remove-items-btn {
    -fx-background-color: #d9534f;
    -fx-text-fill: #FFFFFF;
}

.remove-items-btn:hover {
    -fx-background-color: #f16965;
}

.select-all-checkbox {

}

.add-meal-btn:hover {
    -fx-background-color: #0bbcbc;
}

.meal-table.column-header-background {
    -fx-background-color: #059d9d;
}

.right-pane {
    -fx-padding: 5px;
}


.date-time-box {
    -fx-padding: 8px;
    -fx-spacing: 10px;
}

.date-time-box > HBox {
    -fx-spacing: 5px;
}

.meal-date {

}

.meal-time {

}

.update-calorie-goal-btn {
    -fx-background-color: #5cb85c;
    -fx-text-fill: #FFFFFF;
}

.update-calorie-goal-btn:hover {
    -fx-background-color: #67cf67;
}

.save-btn {
    -fx-background-color: #5bc0de;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 5;
    -fx-font-size: 15;
}

.save-btn:hover {
    -fx-background-color: #73d3f1;
    /*-fx-background-color: #0bbcbc;*/
}

.history-stats {
    -fx-border-color: #73d3f1;
    -fx-padding: 10;
}

.prev-dates-btn {
    -fx-text-fill: #73d3f1;
}

.next-dates-btn {
    -fx-text-fill: #73d3f1;
}

.default-color0.chart-bar {
    -fx-bar-fill: #0275d8;
}