@font-face {
    src: url('font/Baloo2-Regular.ttf');
}

.root {
    -fx-font-family: "Baloo 2";
}


.header-label {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 25px;
    -fx-padding: 0 0 0 20;
}

.content-section {

    -fx-min-width: 200px;
    -fx-max-width: 400px;
    -fx-spacing: 15px;
    -fx-padding: 20px;
}

.content-header {
    -fx-font-size: 15px;
    -fx-text-alignment: center;
}

.field-label {
    -fx-font-size: 13px;
}

.register-btn {
    -fx-text-fill: #f68c97;
    -fx-font-size: 14px;
    -fx-underline: true;
}

.register-btn:pressed {
    -fx-text-fill: #fa6b79;
}

.field {
    -fx-font-size: 14;
    -fx-padding: 10px;
}

.login-btn {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #5bc0de;
    border-radius: 4px;
    -fx-font-size: 14px;
    -fx-pref-width: 400px;
}

.login-btn:hover {
    -fx-background-color: #0bbcbc;

}

.login-btn2 {
    -fx-background-color: #5bc0de;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20
}

.login-btn2:hover {
    -fx-background-color: #0bbcbc;

}

.exit-btn {
    -fx-background-color: #d9534f;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20
}


.exit-btn:hover {
    -fx-background-color: #f16965;
}

.vbox-content {
    -fx-background-color: #5bc0de;
    -fx-padding: 20;
}

.welcome-label {
    -fx-font-family: "Baloo 2";
    -fx-font-size: 30;
    -fx-text-fill: #FFFFFF;
}